h1{
    color: black;
}
ul{
    color: rgb(83, 79, 79);
}
p{
    color: rgb(83, 79, 79);
}
h1{
    font-size: 35px;
}
p{
    font-size: 14px;
}
ul{
    font-size: 14px;
}
a{
    font-size: 14px;
}
h2{
    font-size: 19px;
}
.expérience{
    color: black;
}
.formation{
    color: black;
}
.information{
    color: black;
}

body{
    background-color: rgb(136, 130, 130);
    margin:auto;
    padding: 10px;
}


h1 {
    text-align: center;
}

h1{
    border: 3px black solid;
}
h1,h2
{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-radius: 10px;
    box-shadow: 6px 6px 5px grey;
}
p{
    text-shadow: 2px 2px 2px grey;
}
a:hover
{
    text-decoration: underline; 
    color: green;
    
}
.page {
    margin: auto;
    width:900px;
    background-color: silver;
}